body {
    background-color: var(--bg-color);
    font-family: var(--font-dm-sans);
}

.container {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}